<% include ./partials/header.ejs %>

<div id="main">
    <div id="generate">
        <% if (data.length > 0) { %>
        <span id="iban"><%= data[0].value %></span>
        <% } else { %>
        <p>Something went wrong while retrieving the data or the database might be empty ...</p>
        <% } %>

        <a class="button primary" href="/create">Generate IBAN</a>
        <a class="button secondary" id="btn-copy">Copy to clipboard</a>


        <% if (data.length > 0) { %>
        <p><strong>Last 10 generated IBAN's:</strong></p>
        <ol id="iban-list">
            <% data.forEach(function(data) { %>
            <li><%= data.value %></li>
            <% }); %>
        </ol>
        <% } %>
    </div>
</div>


<% include ./partials/footer.ejs %>