<% include ./partials/header.ejs %>

<div id="main">
    <div id="generate">
        <p>The last generated number on this site was:</p>
        <% if (data.length > 0) { %>
        <span id="iban"><%= data[0].value %></span>
        <% } else { %>
        <p style="color: red;">Something went wrong while retrieving the data or the database might be empty ...</p>
        <% } %>

        <a class="button primary" href="/create">Generate IBAN</a>
        <a class="button secondary" id="btn-copy">Copy to clipboard</a>


        <% if (data.length > 0) { %>
        <p><strong>Last 10 generated IBAN's:</strong></p>
        <ol id="iban-list">
            <% data.forEach(function(data) { %>
            <li><%= data.value %></li>
            <% }); %>
        </ol>
        <% } %>
        <p class="disclaimer"><i>Disclaimer: this app was made for testing purposes only.<br>It is purely based on the logic described on <a href="https://nl.wikipedia.org/wiki/International_Bank_Account_Number" target="_blank">Wikipedia</a> to generate a random Belgian bank account number in IBAN format.<br>The owner of the app can not be held responsible for any misuse or errors.<br>The source code of this app can be found on <a href="https://github.com/carlos-ds/iban-node" target="_blank">Github</a>.</i></p>
    </div>
</div>

<script src="/js/copy-to-clipboard.js" type="text/javascript"></script>
<% include ./partials/footer.ejs %>